html
  head
    title Clacks
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/list.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
  body
    nav
      div.nav-nav
        a(href="/")
          button#btn-to-home.button.button-link back
      div.nav-title
        h1 Clacks content
      div.nav-page-actions
        a(href="/clacks/create")
          button#btn-to-create-clack.button.button-create create
    main
      h2 List
      if enableClearAll
        p
          a(href="/clacks/delete_all_confirm")
            button#btn-to-delete-clack.button.button-delete /!\_CLEAR
      div#list-view-conf
        span *configure list view #{" "}
        button ol
        button ul
        button small
        button columns
      ol#clacks-list.content-list
        for clack in clacks
          li#clack.content-item.clack
            p #{JSON.stringify(clack, null, '\t')}
            p
              a(href="/clacks/#{clack._id}/details")#lnk-to-clack-details
                button#btn-to-details-clack.button.button-details details
              a(href="/clacks/#{clack._id}/update")
                button#btn-to-update-clack.button.button-update update
              a(href="/clacks/#{clack._id}/delete_confirm")
                button#btn-to-delete-clack.button.button-delete delete
        else
          li.error.error#err-no-clack sorry, no element to display!
