html
  head
    title Update Clack #{clack._id}
    link(rel='stylesheet', href='/stylesheets/default.css')
    link(rel='stylesheet', href='/stylesheets/update.css')
    link(rel='stylesheet', href='/stylesheets/clacks.css')
    script(src='/javascripts/update-clacks.js')
  body
    a(href="/clacks")
      button#btn-to-clacks-list.button.button-link back
    h1 Update Clack
    p #{JSON.stringify(clack)}
    p.text.text-info
      i Clacks are free form data
    p.text.text-info
      i Add as many attributes as you want !
    form#form-update-clack.form.form-update(method='POST', action='/clacks/#{clack._id}')
      div#clack-fields.fields
        for value, key in clack
          - if (key.includes("id"))
            input(type="hidden")
          - else
            p#clack-fields-pair.input.input-free-form
              label="key : "
              input(type="text", name="keys", value="#{key}", id="keys")
              label=" value : "
              input(type="text", name="values", value="#{value}", id="values")
      p
        button#btn-reset-form.button.button-reset(type='reset') Reset
        button#btn-add-fields.button.button-create(type='button', onClick="addKeyValueFields()") Add
        button#btn-submit-form.button.button-submit(type='submit') Submit
