<!-- //- FILE
//- .views/clacks-details.html
//- -------------------------------------------
//- DESCRIPTION
//- confirmation page to delete a given clack
//- -------------------------------------------
//- INSTRUCTIONS
//- use classes for CSS
//- use ids for automation
//- use '_' instead of '-'
//- be simple ! (avoid big files and complex names + comment the code)
//- ------------------------------------------- -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8">
    <% if (clack) { %>
      <title>Clack <%= clack._id %> Details</title>
    <% } else { %>
      <title>Clack Not Found</title>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-cell mdl-cell--1-col"><!-- Colored icon button -->
        <button id="btn_clacks" class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent">
          <a href="/clacks" id="lnk_clacks"><i class="material-icons">list</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clacks">back to clacks list</div>
      </div>
    </div>
    <% if (clack) { %>
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Clack Details</h3>
      </div>
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <p><%= JSON.stringify(clack, null, '\t') %></p>
      </div>
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="clack_actions">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
          <button id="btn_clack_update" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <a href="/clacks/<%= clack._id %>/update" id="lnk_clack_update"><i class="material-icons">update</i></a>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btn_clack_update">update</div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
          <button id="btn_clack_delete" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <a href="/clacks/<%= clack._id %>/delete" id="lnk_clack_delete"><i class="material-icons">delete</i></a>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btn_clack_delete">delete</div>
        </div>
      </div>
    <% } else { %>
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <p id="error_not_found">Sorry, Clack with ID <%= req.params %> does not exist ...</p>
      </div>
    <% } %>
  </body>
</html>
