<!-- //- FILE
//- .views/clacks-create-confirm.html
//- -------------------------------------------
//- DESCRIPTION
//- page that appears once a clack is created
//- -------------------------------------------
//- INSTRUCTIONS
//- use classes for CSS
//- use ids for automation
//- use '_' instead of '-'
//- be simple ! (avoid big files and complex names + comment the code)
//- ------------------------------------------- -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" charset="utf-8">
    <title>New Clack</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body class="mdl-grid">
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone"><!-- Colored icon button -->
        <button id="btn_clacks" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <a href="/clacks" id="lnk_clacks"><i class="material-icons">arrow_back</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clacks">back to clacks list</div>
      </div>
      <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
        <button id="btn_clacks_create" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <a href="/clacks/create" id="lnk_clacks_create"><i class="material-icons">plus_one</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clacks_create">create new clack</div>
      </div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <span class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-chip">
        <span class="text_success mdl-chip__text" id="text_created">You have juste created a new clack !</span>
      </span>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <table class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% for (var key in clack) { %>
            <% if( clack.hasOwnProperty(key)) { %>
              <tr>
                <th><%= key %></th>
                <th><%= clack[key] %></th>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" id="clack_actions">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
        <button id="btn_clack_details" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <a href="/clacks/<%= clack._id %>/details" id="lnk_clack_details"><i class="material-icons">info</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clack_details">details</div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
        <button id="btn_clack_update" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <a href="/clacks/<%= clack._id %>/update" id="lnk_clack_update"><i class="material-icons">update</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clack_update">update</div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
        <button id="btn_clack_delete" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <a href="/clacks/<%= clack._id %>/delete" id="lnk_clack_delete"><i class="material-icons">delete</i></a>
        </button>
        <div class="mdl-tooltip" data-mdl-for="btn_clack_delete">delete</div>
      </div>
    </div>
  </body>
</html>
